<!DOCTYPE html>
<html>
<head>
  <title>C4hBrigadeSite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- NAVBAR
   ================================================== -->

<%= render 'layouts/menu' %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>