<!DOCTYPE html>
<html>
<head>
  <title>C4hBrigadeSite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- NAVBAR
   ================================================== -->
<div class="container">
  <div class="masthead">
  <!-- placeholder for randomImages -->
    <%= image_tag 'mastheads/skywayShortSmall2_02.png' %>
    <!--<img src="imgs/skywayShortSmall2_01.png" id="masthead" alt="one third of the sunshine skyway bridge">-->
  </div>
  <%= render 'layouts/menu' %>


  <%= yield %>
</div>

</body>
</html>